html
  head
    link(rel="stylesheet", href="css/guestBook.css")
    //- script(src="scripts/addComment.js")
    title Guest Book
  body
    .page-wrapper
      h1
        a(href="index.html") &lt;&lt;
        | Guest Book
      div.logout
        a(href="/logout") Logout
      h2 Leave a comment
      h3 HELLO #{_USERNAME_}
      .form
       form(action="/comment", method="post")
          label(for="comment") 
            | Comment
            textarea(name="comment", id="comment", cols="30", rows="10")
          input(type="submit", value="submit", id="submit-button")
      .comments
        table
          thead
            tr#heading
              th Date
              th Name
              th Comment
          tbody
            each comment in _COMMENTS_
              tr(id=comment.id)
                td= comment.date
                td= comment.name
                td= comment.comment
